# Node Environment
NODE_ENV=development

# Web Application
PORT_WEB=3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1

# API Backend
PORT=4000
API_PREFIX=/api/v1
CORS_ORIGIN=http://localhost:3000

# Database (PostgreSQL)
DATABASE_URL=postgresql://karigar_user:karigar_password@localhost:5432/karigar_db?schema=public

# Redis & Queues
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL=redis://localhost:6379

# Authentication & Security
JWT_SECRET=super_secret_jwt_access_key_change_in_production_min32chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super_secret_jwt_refresh_key_change_in_production_min32chars
JWT_REFRESH_EXPIRES_IN=7d

# S3 Compatible Object Storage
STORAGE_DRIVER=s3
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_REGION=ap-south-1
STORAGE_BUCKET=karigar-media
STORAGE_ACCESS_KEY=minio_access_key
STORAGE_SECRET_KEY=minio_secret_key
STORAGE_CDN_URL=http://localhost:9000/karigar-media
